<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.topstep.KRoadWaterMeter</string>
	<key>CFBundleName</key>
	<string>KRoadWaterMeter Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	
	
	
	<key>DocSetFallbackURL</key>
	<string>http://www.sz-road.com//凯路创新</string>
	<key>DocSetFeedName</key>
	<string>KRoadWaterMeter Documentation</string>
	<key>DocSetFeedURL</key>
	<string>http://www.sz-road.com//凯路创新/凯路创新.atom</string>
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>com.topstep.documentation</string>
	<key>DocSetPublisherName</key>
	<string>凯路创新</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 凯路创新. All rights reserved.</string>
</dict>
</plist>
